html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 80px auto;
  padding: 8px;
  width: 260px;
  font: 10px/18px "Lucida Grande", Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #30353b url("../img/bg.png") 0 0 repeat;
}

.container {
  margin: 80px auto;
  width: 640px;
}
.container .vnav {
  margin: 0 auto;
}

.vnav {
  width: 200px;
  overflow: hidden;
  background: white;
  border: 1px solid #1d1f22;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.vnav a {
  display: block;
  line-height: 34px;
  text-decoration: none;
}
.vnav li:last-child .vnav-item {
  border-bottom-color: #50575f;
}
.vnav li:last-child .vnav-subnav {
  border-bottom-color: white;
}

.vnav-item {
  position: relative;
  padding: 0 12px 0 37px;
  font-size: 13px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.35);
  background: #505968;
  border-top: 1px solid #878e96;
  border-bottom: 1px solid #333740;
  background-image: -webkit-linear-gradient(top, #707a84, #505968);
  background-image: -moz-linear-gradient(top, #707a84, #505968);
  background-image: -o-linear-gradient(top, #707a84, #505968);
  background-image: linear-gradient(to bottom, #707a84, #505968);
  -webkit-transition: opacity 0.15s;
  -moz-transition: opacity 0.15s;
  -o-transition: opacity 0.15s;
  transition: opacity 0.15s;
}
.vnav-item:hover {
  opacity: .95;
}
.active .vnav-item, .vnav-item:active {
  opacity: 1;
  background: #259bdb;
  border-top-color: #6ad2ef;
  border-bottom-color: #1c638f;
  -webkit-box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
  box-shadow: 0 1px #bbbbbb, 0 2px #e9ebe8;
  background-image: -webkit-linear-gradient(top, #44c5ec, #259bdb);
  background-image: -moz-linear-gradient(top, #44c5ec, #259bdb);
  background-image: -o-linear-gradient(top, #44c5ec, #259bdb);
  background-image: linear-gradient(to bottom, #44c5ec, #259bdb);
}
.active .vnav-item .vnav-counter, .vnav-item:active .vnav-counter {
  background: #2471a9;
}
.vnav-item i {
  position: absolute;
  top: 7px;
  left: 9px;
}

.vnav-counter {
  float: right;
  margin-top: 8px;
  padding: 0 6px;
  line-height: 18px;
  font-size: 11px;
  background: #464e59;
  border-radius: 9px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.2);
}

.vnav-subnav {
  display: none;
  border-bottom: 1px solid #404348;
}
.active .vnav-subnav {
  display: block;
}
.vnav-subnav a {
  padding: 0 12px 0 16px;
  font-size: 12px;
  color: #838a90;
  border-bottom: 1px solid #eeeeee;
}
.vnav-subnav a:before {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 8px;
  border: 4px outset transparent;
  border-left: 4px solid #bbbbbb;
}
.vnav-subnav a:hover {
  background: #f8f9fb;
}
.vnav-subnav .vnav-counter {
  color: #999;
  background: #fcfcfc;
  -webkit-box-shadow: inset 0 0 0 1px gainsboro;
  box-shadow: inset 0 0 0 1px gainsboro;
}
.vnav-subnav li:last-child a {
  border-bottom-color: white;
}

[class*="icon-"] {
  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../img/icons.png");
  background-repeat: no-repeat;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
}

.icon-friends {
  background-position: 0 0;
}

.icon-video {
  background-position: -20px 0;
}

.icon-photo {
  background-position: -40px 0;
}

.icon-podcast {
  background-position: -60px 0;
}
