/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
body {
  background: #10abd7;
  color: #404040;
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  padding-top: 37px;
}

.container {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 37px;
  line-height: 37px;
  color: #ddd;
  text-shadow: 0 -1px black;
  border-bottom: 1px solid #191919;
  background-color: #243942;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #243942), color-stop(50%, #22373f), color-stop(50%, #1d2e35), color-stop(100%, #1b2b32));
  background-image: -webkit-linear-gradient(top, #243942 0%, #22373f 50%, #1d2e35 50%, #1b2b32 100%);
  background-image: -moz-linear-gradient(top, #243942 0%, #22373f 50%, #1d2e35 50%, #1b2b32 100%);
  background-image: -ms-linear-gradient(top, #243942 0%, #22373f 50%, #1d2e35 50%, #1b2b32 100%);
  background-image: -o-linear-gradient(top, #243942 0%, #22373f 50%, #1d2e35 50%, #1b2b32 100%);
  background-image: linear-gradient(top, #243942 0%, #22373f 50%, #1d2e35 50%, #1b2b32 100%);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), inset 0 0 1px rgba(255, 255, 255, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), inset 0 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), inset 0 0 1px rgba(255, 255, 255, 0.1);
}
header a {
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  -ms-transition-duration: 0.1s;
  -o-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
}
header h1 {
  float: left;
  font-size: 16px;
}
header h1, header h1 a {
  color: #eee;
}
header h1 a {
  display: block;
  padding: 0 15px;
  text-decoration: none;
}
header h1 a:hover {
  color: #fff;
}
header nav {
  float: right;
  border-left: 1px solid #2f4b56;
  border-left: 1px solid rgba(255, 255, 255, 0.05);
  border-right: 1px solid #111;
}
header nav li {
  float: left;
}
header nav a {
  display: block;
  padding: 0 15px;
  color: #d0d9de;
  border-left: 1px solid #191919;
  border-right: 1px solid #2f4b56;
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  text-decoration: none;
  cursor: pointer;
}
header nav a:hover {
  background: #2f4b56;
  background: rgba(255, 255, 255, 0.05);
}
header nav a.icon {
  padding-left: 40px;
  background-position: 12px 11px;
  background-repeat: no-repeat;
}
header nav a.tasks {
  background-image: url("../img/tasks.png");
}
header nav a.messages {
  background-image: url("../img/messages.png");
}
header nav a.settings {
  background-image: url("../img/settings.png");
}
header nav li.active a, header nav a:active {
  background-color: #1b2b32;
  border-right: 0;
  padding-right: 16px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.7);
}
header nav span {
  display: inline-block;
  vertical-align: text-top;
  line-height: 16px;
  font-size: 11px;
  padding: 0 5px;
  color: #fff;
  text-shadow: 0 1px #902a27;
  border-radius: 2px;
  margin-left: 10px;
  background-color: #e93631;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f65d5f), color-stop(100%, #e93631));
  background-image: -webkit-linear-gradient(top, #f65d5f, #e93631);
  background-image: -moz-linear-gradient(top, #f65d5f, #e93631);
  background-image: -ms-linear-gradient(top, #f65d5f, #e93631);
  background-image: -o-linear-gradient(top, #f65d5f, #e93631);
  background-image: linear-gradient(top, #f65d5f, #e93631);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), 0 1px rgba(0, 0, 0, 0.2);
}

.about {
  margin: 50px 0;
  text-align: center;
  color: #ccc;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.25);
}
.about a {
  color: #fff;
  text-decoration: none;
}
.about a:hover {
  border-bottom: 1px solid #fff;
}
