html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
html, body {
  min-height: 100%;
}

body {
  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #404040;
  background: #697ecc;
  background-image: -webkit-radial-gradient(center, circle cover, #87a3f5, #697ecc);
  background-image: -moz-radial-gradient(center, circle cover, #87a3f5, #697ecc);
  background-image: -o-radial-gradient(center, circle cover, #87a3f5, #697ecc);
  background-image: radial-gradient(center, circle cover, #87a3f5, #697ecc);
}

.container {
  margin: 150px auto 50px;
  width: 640px;
  text-align: center;
}
.container .user {
  text-align: left;
}

.user {
  position: relative;
  height: 32px;
  padding: 8px 12px 8px 8px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
}
.user img {
  float: left;
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.user h5 {
  float: left;
  line-height: 16px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}
.user h5 small {
  display: block;
  font-size: 9px;
  font-weight: bold;
  text-transform: uppercase;
  color: #364168;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 1px rgba(255, 255, 255, 0.3);
}
.user:hover ul {
  padding: 4px 0 6px;
  visibility: visible;
  opacity: 1;
}
.user ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background: #d9e3fa;
  border: 1px solid;
  border-color: #777 #6c6c6c #666;
  border-radius: 5px;
  -webkit-transition: 0.2s ease-out;
  -moz-transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: opacity, padding, visibility;
  -moz-transition-property: opacity, padding, visibility;
  -o-transition-property: opacity, padding, visibility;
  transition-property: opacity, padding, visibility;
  background-image: -webkit-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -moz-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: -o-linear-gradient(top, #eef3fe, #d9e3fa);
  background-image: linear-gradient(to bottom, #eef3fe, #d9e3fa);
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.9), 0 1px 2px rgba(0, 0, 0, 0.1);
}
.user ul:before, .user ul:after, .user li:first-child:after {
  content: '';
  display: block;
  position: absolute;
  left: 15px;
  width: 0;
  height: 0;
  border: 7px outset transparent;
}
.user ul:before {
  bottom: -14px;
  border-top: 7px solid #555;
}
.user li:first-child:after {
  bottom: -13px;
  border-top: 7px solid white;
}
.user ul:after {
  bottom: -12px;
  border-top: 7px solid #d9e3fa;
}
.user li {
  padding: 0 12px;
  font-size: 11px;
  color: #838ca2;
  text-shadow: 0 1px white;
}
.user li.sep {
  margin-top: 4px;
  padding-top: 4px;
  border-top: 1px solid #b4bbce;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.6);
}
.user li a {
  display: block;
  position: relative;
  margin: 0 -13px;
  padding: 0 20px 0 12px;
  color: #313a4f;
  text-decoration: none;
  border: 1px solid transparent;
}
.user li a:hover {
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  background: #5a70b0;
  border-color: #5a70b0 #495d98 #42558a;
  background-image: -webkit-linear-gradient(top, #7688bd, #4e64a3);
  background-image: -moz-linear-gradient(top, #7688bd, #4e64a3);
  background-image: -o-linear-gradient(top, #7688bd, #4e64a3);
  background-image: linear-gradient(to bottom, #7688bd, #4e64a3);
}
.user li a:hover:after {
  display: block;
}
.user li a:after {
  content: '';
  display: none;
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -4px;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #9facd1;
  border-left-color: rgba(255, 255, 255, 0.4);
}
