.about {
  margin: 80px auto;
  padding: 8px;
  width: 240px;
  font: 10px/18px 'Lucida Grande', Tahoma, Verdana, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(black, .3);
  background: #333;
  background: rgba(#222, .75);
  border-radius: 4px;
  @include box-shadow(inset 0 -1px rgba(black, .1), inset 0 0 0 1px rgba(black, .1), 0 0 6px rgba(black, .4));
  @include linear-gradient(top, rgba(black, 0), rgba(black, .2));

  a {
    color: #eee;
    text-decoration: none;
    border-radius: 2px;
    @include transition(.1s);

    &:hover {
      text-decoration: none;
      background: #555;
      background: rgba(white, .15);
    }
  }
}

.about-links {
  height: 30px;

  a {
    float: left;
    width: 50%;
    line-height: 30px;
    font-size: 12px;
  }
}

.about-author {
  margin-top: 5px;

  a {
    padding: 1px 3px;
    margin: 0 -1px;
  }
}
